[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pudb = "*"

[packages]
colorama = "~=0.4.3"
pycryptodomex = "*"
requests = "~=2.24.0"
tabulate = "~=0.8.7"
prompt-toolkit = "*"
asciitree = "~=0.3.3"
pytest = "*"
protobuf = "*"
pyperclip = "*"
pypager = "~=3.0.0"
cached-property = "*"
ptpython = "*"
loguru = "~=0.5.2"
fire = "*"
fido2 = "~=0.8.1"
chardet = "~=3.0.4"

[requires]
python_version = "3.7"
